.boxAdd{
    height: 900px;
    width: 600px;
    position:absolute;
    left:150px;
    top:140px;
    color:#FFFFFF;
    display: block;
    text-align: center;
}
.boxAdd_1{
    height: 100px;
    width: 600px;
    position:relative;
    left:0px;
    top:0px;
    background-color: #25331e;
    color:#FFFFFF;
    display: block;
    text-align: center;
    padding: 15px;
}
.boxAdd_2 {
    height: 200px;
    width: 600px;
    position:relative;
    left:0px;
    top: 0px;
    background-color: #405133;
    color:#FFFFFF;
    display: block;
    text-align: center;
    padding: 30px;
}
.boxAdd_3 {
    height: 200px;
    width: 600px;
    position:relative;
    left: 0px;
    top: 0px;
    background-color: #25331e;
    color:#FFFFFF;
    text-align: center;
    padding: 42px;
}
.boxModify{
    height: 900px;
    width: 600px;
    position:absolute;
    left:150px;
    top:140px;
    color:#FFFFFF;
    display: block;
    text-align: center;
}
.boxModify_1{
    padding: 15px;
    height: 150px;
    width: 600px;
    position:relative;
    left:0px;
    top:0px;
    background-color: #25331e;
    color:#FFFFFF;
    display: block;
    text-align: center;
}
.boxModify_2 {
    padding: 10px;
    height: 150px;
    width: 600px;
    position:relative;
    left:0px;
    top: 0px;
    background-color: #405133;
    color:#FFFFFF;
    display: block;
    text-align: center;
}
.boxModify_3 {
    overflow-x: auto;
    overflow-y: auto;
    height: 200px;
    width: 600px;
    position:relative;
    left: 0px;
    top: 0px;
    background-color: #25331e;
    color:#FFFFFF;
    text-align: center;
}
.boxModify_4 {
    padding: 30px;
    height: 100px;
    width: 600px;
    position:relative;
    left:0px;
    top: 0px;
    background-color: #405133;
    color:#FFFFFF;
    display: block;
    text-align: center;
}
.boxModify_5 {
    height: 100px;
    width: 600px;
    position:relative;
    left: 0px;
    top: 0px;
    background-color: #25331e;
    color:#FFFFFF;
    text-align: center;
}
.boxDelete{
    height: 900px;
    width: 600px;
    position:absolute;
    left:150px;
    top:140px;
    color:#FFFFFF;
    display: block;
    text-align: center;
}
.boxDelete_1{
    padding: 20px;
    height: 100px;
    width: 600px;
    position:relative;
    left:0px;
    top:0px;
    background-color: #25331e;
    color:#FFFFFF;
    display: block;
    text-align: center;
}
.boxDelete_2 {
    padding: 10px;
    height: 150px;
    width: 600px;
    position:relative;
    left:0px;
    top: 0px;
    background-color: #405133;
    color:#FFFFFF;
    display: block;
    text-align: center;
}
.boxDelete_3 {
    overflow-x: auto;
    overflow-y: auto;
    height: 200px;
    width: 600px;
    position:relative;
    left: 0px;
    top: 0px;
    background-color: #25331e;
    color:#FFFFFF;
    text-align: center;
}
.boxDelete_4 {
    padding: 30px;
    height: 100px;
    width: 600px;
    position:relative;
    left: 0px;
    top: 0px;
    background-color: #405133;
    color:#FFFFFF;
    text-align: center;
}

.function_bar {
    background-color: #405133;
    padding-top: 5px;
    color: #FFFFFF;
    width:150px;
    height:150px;
}
.boxIntro{
    height: 900px;
    width: 600px;
    position:absolute;
    left:150px;
    top:140px;
    color:#FFFFFF;
    display: block;
    text-align: center;
}
.boxIntro_1{
    height: 150px;
    width: 600px;
    position:relative;
    left:0px;
    top:0px;
    background-color: #25331e;
    color:#FFFFFF;
    display: block;
    text-align: center;
    padding: 40px;
}
.boxIntro_2 {
    height: 150px;
    width: 600px;
    position:relative;
    left:0px;
    top: 0px;
    background-color: #405133;
    color:#FFFFFF;
    display: block;
    text-align: center;
    padding: 20px;
}
.boxIntro_3 {
    height: 150px;
    width: 600px;
    position:relative;
    left: 0px;
    top: 0px;
    background-color: #25331e;
    color:#FFFFFF;
    text-align: center;
    padding: 30px;
}
.boxIntro_4 {
    height: 150px;
    width: 600px;
    position:relative;
    left:0px;
    top: 0px;
    background-color: #405133;
    color:#FFFFFF;
    display: block;
    text-align: center;
    padding: 35px;
}