<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.CMT.mapper.ModifyMapper">

    <!-- 自定义结果集-->
    <resultMap id="userMap" type="com.seu.CMT.pojo.UserModel">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <collection property="userModels" ofType="com.seu.CMT.pojo.UserModel">
            <id property="id" column="id1"/>
            <result property="name" column="name1"/>
            <result property="age" column="age1"/>
            <result property="sex" column="sex1"/>
        </collection>
    </resultMap>

    <resultMap id="resultMap" type="com.seu.CMT.pojo.Model">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <collection property="resultModels" ofType="com.seu.CMT.pojo.Model">
            <id property="id" column="id1"/>
            <result property="name" column="name1"/>
            <result property="type" column="type1"/>
        </collection>
    </resultMap>

    <select id="getAll" resultMap="resultMap">
        match
        (u:Model)
        where u.type = #{type}
        return
        id(u) as id,u.name as name
    </select>

    <select id="find" resultMap="resultMap">
        match
        (u:Model)
        where u.name = #{name}
        return
        u.name as name
    </select>

    <select id="findRelation" resultMap="resultMap">
        MATCH (m:Model { name:#{relation.nameA}})
        MATCH (n:Model { name:#{relation.nameB}})
        MATCH (m)-[:${relation.relation}]->(n)
        return n,m
    </select>

    <!--create(u:user{name:'aaa'}) - [l:like] -> (u1:user{name:'bbb'}) - [l1:like] -> (u2:user{name:'ccc'})-->
    <insert id="add">
        create(u:Model{name:#{model.name},type:#{model.type},effect:#{model.effect},prescription:#{model.prescription},herb:#{model.herb},symptom:#{model.symptom},function_large:#{model.function_large},function_small:#{model.function_small}})
    </insert>

    <insert id="addRelation">
        match (n:Model{name:#{relation.nameA}}) , (m:Model{name:#{relation.nameB}} )
        create  (n) - [r:${relation.relation}] -> (m)
    </insert>

</mapper>